
<div class='container main-container'>
    <div style='text-align: center;margin-top:10px'>
    <button type="button" class="btn btn-primary">Import</button>
    <button type="button" class="btn btn-danger">Export</button>
</div>
    <hr/>
<app-invoice-header></app-invoice-header>
    <hr/>
<app-invoice-info></app-invoice-info>
    <hr/>
<app-invoice-items></app-invoice-items>
    <hr/>

<div class='row'>
    <div class='col-lg-6 col-md-12'>
        <app-invoice-notes></app-invoice-notes>
    </div>
    <div class='col-lg-6 col-md-12'>
        <app-invoice-amount></app-invoice-amount>
    </div>

</div>

</div>