
<div class='container main-container'>
    <div style='text-align: center;margin-top:10px'>
    <button type="button" class="btn btn-primary">Import</button>
    <button type="button" class="btn btn-danger">Export</button>
    </div>
    <hr/>
<app-invoice-header [invoiceHeader]='invoiceHeader'></app-invoice-header>
    <hr/>
<app-invoice-info [invoiceInfo]='invoiceInfo'></app-invoice-info>
    <hr/>
<app-invoice-items [invoiceItems]='invoiceItems'></app-invoice-items>
    <hr/>

<div class='row'>
    <div class='col-lg-6 col-md-12'>
        <app-invoice-notes [invoiceNotes]='invoiceNotes'></app-invoice-notes>
    </div>
    <div class='col-lg-6 col-md-12'>
        <app-invoice-amount [invoiceAmount]='invoiceAmount'></app-invoice-amount>
    </div>

</div>

</div>