<div class='row'>

    <div class='col-6'>
        <p>SUBTOTAL</p>
    </div>
    <div class='col-6'>
        <p>${{ invoiceAmount?.subTotal || '00'}}</p>
    </div>

    <div class='col-6'>
        <p>Discount</p>
    </div>
    <div class='col-6'>
        <p>${{invoiceAmount?.discount || '00'}}</p>
    </div>

    <div class='col-6'>
        <p>SUBTOTAL LESS DISCOUNT</p>
    </div>
    <div class='col-6'>
        <p >${{ invoiceAmount?.subTotalLessDiscount || '00'}}</p>
    </div>

    <div class='col-6'>
        <p>TAXRATE</p>
    </div>
    <div class='col-6'>
        <p>%{{invoiceAmount?.taxRate || '00'}}</p>
    </div>

    <div class='col-6'>
        <p>TOTAL TAX</p>
    </div>
    <div class='col-6'>
        <p>${{ invoiceAmount?.totalTax || '00'}}</p>
    </div>

    <div class='col-6'>
        <p> SHIPPING / HANDLING </p>
    </div>
    <div class='col-6'>
        <p>${{invoiceAmount?.shipping || '00'}}</p>
    </div>
    <br>
    <div class='col-6'>
        <p><b>BALANCE PAID</b></p>
    </div>
    <div class='col-6'>
        <p><b>${{invoiceAmount?.balancePaid || '00'}} </b></p>
    </div>
</div>