<div class='row'>

    <div class='col-6'>
        <p>SUBTOTAL</p>
    </div>
    <div class='col-6'>
        <p>$235.25</p>
    </div>

    <div class='col-6'>
        <p>Discount</p>
    </div>
    <div class='col-6'>
        <p>$18.25</p>
    </div>

    <div class='col-6'>
        <p>SUBTOTAL LESS DISCOUNT</p>
    </div>
    <div class='col-6'>
        <p>$235.25</p>
    </div>

    <div class='col-6'>
        <p>TAXRATE</p>
    </div>
    <div class='col-6'>
        <p>5%</p>
    </div>

    <div class='col-6'>
        <p>TOTAL TAX</p>
    </div>
    <div class='col-6'>
        <p>$11.25</p>
    </div>

    <div class='col-6'>
        <p> SHIPPING / HANDLING </p>
    </div>
    <div class='col-6'>
        <p>$235.25</p>
    </div>
    <br>
    <div class='col-6'>
        <p><b>BALANCE PAID</b></p>
    </div>
    <div class='col-6'>
        <p><b>$235.25 </b></p>
    </div>
</div>