<div class='row'>
    <table class="table table-light">
        <thead class="thead-dark">
          <tr class="d-flex">
            <th scope="col" class='col-lg-6'>Description</th>
            <th scope="col" class='col-lg-2'>QTY</th>
            <th scope="col" class='col-lg-2'>UNIT PRICE</th>
            <th scope="col" class='col-lg-2'>TOTAL</th>
          </tr>
        </thead>
        <tbody class='table-striped'>
          <tr class="d-flex">
            <th scope="row" class='col-lg-6'> Item 1 </th>
            <td class='col-lg-2'>Mark</td>
            <td class='col-lg-2'>Otto</td>
            <td class='col-lg-2'>@mdo</td>
          </tr>
          <tr class="d-flex">
            <th scope="row" class='col-lg-6'> Item 2 </th>
            <td class='col-lg-2'>Jacob</td>
            <td class='col-lg-2'>Thornton</td>
            <td class='col-lg-2'>@fat</td>
          </tr>
          <tr class="d-flex">
            <th scope="row" class='col-lg-6'> Item 3 </th>
            <td class='col-lg-2'>Larry</td>
            <td class='col-lg-2'>the Bird</td>
            <td class='col-lg-2'>@twitter</td>
          </tr>
        </tbody>
      </table>

</div>