<div class='row'>
    <div class='col-lg-6 .col-md-12'>
        <p> {{invoiceHeader?.companyName || 'Company name' }} </p>
    </div>

    <div class='col-lg-6 .col-md-12'>
        <p>{{invoiceHeader?.date || 'data' }}</p>
    </div>
</div>

<div class='row'>
    <div class='col-lg-6 .col-md-12'> 
      <p>{{invoiceHeader?.address || 'address' }}</p>  
    </div>
    
    <div class='col-lg-6 .col-md-12'>
       <p>{{invoiceHeader?.receiptNo || 'receiptNo' }}</p> 
    </div>
</div>

<div class='row'>
    <div class='col-lg-6 .col-md-12'>
        <p>{{invoiceHeader?.city || 'city' }}</p> 
    </div>
</div> 