<div class='row info-wrapper'>
    <div class='col-lg-5'>
        <h5><p id='company-name'> {{invoiceHeader?.companyName || '[Company name]' }} </p></h5>
    </div>
    <div class='col-lg-2'></div>

   

</div>

<div class='row info-wrapper'>
    <div class='col-lg-5 .col-md-12'> 
      <p>{{invoiceHeader?.address || '[Address]' }}</p>  
    </div>
    <div class='col-lg-2'></div>

    <!-- <div class='col-lg-5 .col-md-12'>
       <p>{{invoiceHeader?.receiptNo || 'receiptNo' }}</p> 
    </div> -->
</div>

<div class='row info-wrapper'>
    <div class='col-lg-5 .col-md-12'>
        <p>{{invoiceHeader?.city || '[City state zip code]' }}</p> 
    </div>
    <div class='col-lg-3 .col-md-12'></div>

    <div class='col-lg-2 .col-md-12'>
        <p><span>Date :</span>{{invoiceHeader?.date || '......' }}</p>
    </div>

    <div class='col-lg-2 .col-md-12'>
        <p><span>Receipt No :</span>{{invoiceHeader?.receiptNo || '......' }}</p> 
     </div>
</div> 